@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

.banner {
  background: linear-gradient(180deg, #0082f1 0%, #75c0ff 100%);
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-text {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-top: 30px;
}

.name {
  font-family: 'Roboto', sans-serif;  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}
.game-text h1{
  line-height:60px;
margin-bottom:10px
}
.subheading {
  font-family: 'Roboto', sans-serif;  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.buttonContainer button {
  background: #ffffff;
  box-shadow: 0px 8px 25px #007ce6;
  border-radius: 6px;
  border: 0;
  width: 205px;
  height: 47px;
  font-family: 'Roboto', sans-serif; 
   font-weight: 600;
  font-size: 18px;
  margin-top: 40px;
  color: #0086fc;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  font-size: 20px;

}

.images {
  display: flex;
  position: relative;
}

.images img {
  position: absolute;
  bottom: -12px;
}

.images .image-left {
  overflow: hidden;
  left: -500px;
  
}



/*NHL page properties, referenced with IDs*/
#nhlBanner{
  background-image: url('https://i.ibb.co/17gVYJ7/nhlback2-2.png');
  object-fit: contain;
  repeat: no-repeat;
}

.images #nhl__left{
  bottom: 0px;
  left: -600px;
}

.images #nhl__right{
  bottom: 0px;
}

#nhlpromo1{
  bottom: 0px;
}

/*{`image-left ${image__left__id}`}*/
.images #fortnite__left{
  bottom: -20px;
}

/*FreeFire page properties, referenced with IDs*/
#freeFireBanner{
  background-image: url('https://i.ibb.co/17qVnsq/freefire-Background-1.png');
  object-fit: contain;
  repeat: no-repeat;
}

#freefire__left{
  width: 250px;
  left: -350px;
}
#freefire__right{
  width: 375px;
  right: -430px;
}

/*Cod Banner page properties, referenced with IDs*/
#codBanner{
  background-image: url('https://i.ibb.co/JHMm08j/cod-Background-5.png');
  object-fit: contain;
  repeat: no-repeat;
}

#cod__right{
  right: -500px;
  bottom: -20px
}
#cod__left{
  left: -460px;
  bottom: -22px
}

/*Fifa banner */
#fifaBanner{
  background-image: url('https://i.ibb.co/3WPCvYH/fifa-Background-1.png')
}
#fifa__left
{
  left: -580px
}

#fifa__right{
  bottom: -7px

}