.tournamentsSection {
  margin-top: 50px;
}
.heading {
  display: flex;
  justify-content: center;
}

.heading h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #0082f1;
}
